@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

.vertical-text {
  writing-mode: vertical-lr;
  @apply rotate-180;
}

.shadow-left {
  --tw-shadow: -10px 0px 5px -5px rgb(0 0 0 / 0.1),
    -4px 0px 6px -5px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-shadow);
}

.scroll-contain {
  overscroll-behavior: none;
}

.next-image-container,
.next-image-container-height {
  @apply w-full;
}

.next-image-container > span {
  position: unset !important;
}

.next-image-container-height > span {
  @apply h-full;
}

.next-image {
  @apply !relative !w-full !h-[unset] object-contain;
}
