@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

.vertical-text {
  writing-mode: vertical-lr;
  @apply rotate-180;
}

.shadow-left {
  --tw-shadow: -10px 0px 5px -5px rgb(0 0 0 / 0.1),
    -4px 0px 6px -5px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-shadow);
}

.scroll-contain {
  overscroll-behavior: none;
}

.next-image-container,
.next-image-container-height {
  @apply w-full;
}

.next-image-container-brute {
  @apply relative w-fit;
}

.next-image-container > span {
  position: unset !important;
}

.next-image-container-height > span {
  @apply !h-full !relative;
}

.next-image-container-brute > span {
  position: unset !important;
  overflow: unset !important;
  width: unset !important;
  height: unset !important;
  background: unset !important;
  opacity: unset !important;
  border: unset !important;
  margin: unset !important;
  padding: unset !important;
  position: unset !important;
  inset: unset !important;
}

.next-image {
  @apply !relative !w-full !h-[unset] object-contain;
}

.next-image-container-height .next-image {
  @apply !relative !h-full !w-[unset] !max-w-[unset];
}

.next-image-brute {
  @apply !relative !w-[unset] !h-[unset] !min-w-[unset] !max-w-[unset] !min-h-[unset] !max-h-[unset];
}
