@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-text {
  writing-mode: vertical-lr;
  @apply rotate-180;
}

.shadow-left {
  --tw-shadow: -10px 0px 5px -5px rgb(0 0 0 / 0.1),
    -4px 0px 6px -5px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-shadow);
}
